@font-x-large: 25px;
@font-large: 21px;
@font-normal: 18px;
@font-small: 15px;
@font-x-small: 12px;


@nav-background-color: #4D91BF;

nav{
  background-color: @nav-background-color;

  .citrix-logo{
    float: left;
    margin-left: 20px;

    img{
      height: 50px;
    }

  }

  .glyphicon{
    color: white;
  }
}

.search{
  width: 300px;
}

.search-actions{
  background-color: darken(@nav-background-color, 10%);
}

.search-results{
  position: absolute;
  z-index: 1;
  top: 51px;
}

.search.input-group{
  float: left;

  // make background transparent
  input{
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    width: 200px;
    height: 50px;
    outline: none; // remove the blue glow
    font-size: @font-x-large;
  }
}


//
//.input-group{
//  width: 200px;
//}