nav {
    background-color: #4d91bf;
}
nav .citrix-logo {
    float: left;
    margin-left: 20px;
}
nav .citrix-logo img {
    height: 50px;
}
nav .glyphicon {
    color: white;
}
.search {
    width: 300px;
}
.search-actions {
    background-color: #3976a0;
}
.search-results {
    position: absolute;
    z-index: 1;
    top: 51px;
}
.search.input-group {
    float: left;
}
.search.input-group input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    width: 200px;
    height: 50px;
    outline: none;
    font-size: 25px;
}
